#GAN 
{
    width: 100;
}

#MOYU
{
    width: 100;
}

#QIYI
{
    width: 100;
}

#YUXIN
{
    width: 100;
}

#div
{
    background:linear-gradient(to right, #23a6d5, #23e2f0, #25e9ae, #23d5ab);
}

#mynavbar
{
    background:linear-gradient(to right, #69f143, #4af060, #b2ef6b, #b7ef47);
}